.main {
	// .main__container

	&__container {
		gap: 40px !important;
	}

	// .main__title

	&__title {
		@include heading-2;
		color: $col-text-dark;
		max-width: 800px;
		text-align: center;

		span {
			@include heading-2-accent;
			color: $col-text-accent;
		}

		@include mq($mq-tablet-small, max) {
			@include calc($calc-font-size, 60, 32, 640, 380);
			@include calc($calc-line-height, 75, 40, 640, 380);
			span {
				@include calc($calc-font-size, 60, 32, 640, 380);
				@include calc($calc-line-height, 75, 40, 640, 380);
			}
		}
	}

	// .main__control-button

	&__control-button {
	}

	&__block-button {
		@include flex-between;
		gap: 14px;

		@include mq($mq-tablet-small, max) {
			gap: 6px;
		}

	}

	// .main__grid

	&__grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, calc(25% - 30px));
		gap: 40px;

		@include mq($mq-desktop-intermediate, max) {
			grid-template-columns: repeat(2, 1fr);
			justify-items: center;
			gap: 40px 10px;
		}

		@include mq($mq-tablet-small, max) {
			grid-template-columns: repeat(1, 1fr);
			justify-items: center;
			gap: 40px 10px;
		}
	}

	&__button {
		display: none;
		border: 1px solid $col-border-dark;
		width: 60px;
		height: 60px;
		border-radius: 100%;
		background-color: initial;

		@include mq($mq-tablet-small, max) {
			margin-top: 30px;
		}
	}

	&__button.show {
		@include flex-center;
	}

	&__button.active {
		animation: rotate1 0.6s ease 0s;
	}
}

@keyframes rotate1 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.input-menu {
	display: none;
}

.button {
	position: relative;
	@include flex-between;
	padding: 8px 16px 8px 8px;
	gap: 8px;
	border: 1px solid $col-border-light;
	border-radius: 100px;

	&__label {
		width: 100%;
		height: 100%;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
	}

	&__icon {
		transition: all 0.3s ease 0s;
		@include flex-center;
		width: 30px;
		height: 30px;
		background-color: $col-border-light;
		border-radius: 100%;

		@include action-link-button;
		color: $col-text-dark;
		text-transform: uppercase;
	}

	&__title {
		transition: all 0.3s ease 0s;
		@include action-link-button;
		color: $col-text-dark;
	}

	&__title::first-letter {
		text-transform: uppercase;
	}
}

@media (hover: hover) or (min-width: 1024px) {
	.button:hover {
		transition: all 0.3s ease 0s;
		background-color: $col-bg-container;
	}

	.button:hover > .button__title {
		transition: all 0.3s ease 0s;
		color: $col-text-light;
	}

	.button:hover > .button__icon {
		transition: all 0.3s ease 0s;
		background-color: $col-bg-body;
	}
}

.input-menu:nth-child(1):checked ~ .main__block-button > .button:nth-child(1) {
	background-color: $col-bg-container;
}

.input-menu:nth-child(1):checked ~ .main__block-button > .button:nth-child(1) > .button__label {
	cursor: auto;
}

.input-menu:nth-child(1):checked ~ .main__block-button > .button:nth-child(1) > .button__title {
	color: $col-text-light;
}

.input-menu:nth-child(1):checked ~ .main__block-button .button:nth-child(1) > .button__icon {
	background-color: $col-bg-body;
}

.input-menu:nth-child(2):checked ~ .main__block-button > .button:nth-child(2) {
	background-color: $col-bg-container;
}

.input-menu:nth-child(2):checked ~ .main__block-button > .button:nth-child(2) > .button__label {
	cursor: auto;
}

.input-menu:nth-child(2):checked ~ .main__block-button > .button:nth-child(2) > .button__title {
	color: $col-text-light;
}

.input-menu:nth-child(2):checked ~ .main__block-button .button:nth-child(2) > .button__icon {
	background-color: $col-bg-body;
}

.input-menu:nth-child(3):checked ~ .main__block-button > .button:nth-child(3) {
	background-color: $col-bg-container;
}

.input-menu:nth-child(3):checked ~ .main__block-button > .button:nth-child(3) > .button__label {
	cursor: auto;
}

.input-menu:nth-child(3):checked ~ .main__block-button > .button:nth-child(3) > .button__title {
	color: $col-text-light;
}

.input-menu:nth-child(3):checked ~ .main__block-button .button:nth-child(3) > .button__icon {
	background-color: $col-bg-body;
}
