// color
$col-text-dark: #403F3D;
$col-text-light: #E1D4C9;
$col-text-accent: #B0907A;

$col-bg-body: #E1D4C9;
$col-bg-container: #665F55;
$col-bg-backdrop: rgba(64, 63, 61, 0.3);

$col-border-light: #C1B6AD;
$col-border-dark: #665F55;


// dimensions
$width-container: 1440px;
